				h1 {
					color: blue;
					text-align:center;
				}
		@media (min-width:600px){
			body{
				background-color:green;
			}
		}
		@media (max-width:599px){
			body{
				background-color:yellow;
			}
		}
		#words {
			display: flex;
			flex-wrap: wrap;
		}
		#words > div {
			border: 3px solid blue;
			background: orange;
			width:   200px;
			height:  150px;
			padding: 20px;
			margin:  20px;
			font-family: FangSong, Microsoft JhengHei, FZShouJinShu-S10T, arial;
			font-size: 20px;
			font-weight: bold;
		}